<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SajulgaAndroidDev"
        tools:targetApi="31">
        <activity
            android:name="menu.Menu"
            android:exported="false" />
        <activity
            android:name="layout_exercise.InstagramActivity"
            android:exported="false" />
        <activity
            android:name="layout_exercise.LayoutExercise"
            android:exported="false" />
        <activity
            android:name="passing_intents.PassingIntentsAnother"
            android:exported="false" />
        <activity
            android:name="passing_intents.PassingIntents"
            android:exported="false" />
        <activity
            android:name="match3.Match3"
            android:exported="false" />
        <activity
            android:name="calculator.Calculator"
            android:exported="false" />
        <activity
            android:name="button_exercise.AnotherActivity"
            android:exported="false" />
        <activity
            android:name="button_exercise.ButtonExercise"
            android:exported="false" />
        <activity
            android:name="main_activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>